<template>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-body">
                Bulk Action
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                <button type="button" class="btn btn-danger">Remove</button>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'modal',
  props:{
      item: {
          type: Object,
          default: null
      }
  },
  data () {
    return {

    }
  },
  methods: {
     
  }
}
</script>

<style>
  
</style>
