<template>
  <div class="">   
    <table class="table table-hover mt-5">
        <thead>
            <tr>
                <th class="text-center">STT</th>
                <th class="text-center">Name</th>
                <!-- <th class="text-center">Desciption</th>
                <th class="text-center">Piority</th> -->
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <task-item 
                v-for="item in listWork" 
                v-bind:key="item.id" 
                v-bind:item="item"
                v-on:listEdit="listEdit"
                v-on:listDelete="listDelete">
            </task-item>

        </tbody>
    </table>
  </div>
</template>

<script>
import TaskItem from './TaskItem';
export default {
  name: 'task-list',
  props: {
      listWork: {
          type: Array,
          default: []
      }
  },
  data () {
    return {

    }
  },
  components: {
    TaskItem
  },
  methods: {
      listEdit (data) {
          this.$emit('handleEdit', data)
      },
      listDelete (data) {
          this.$emit('handleDelete', data)
      }
  }
}
</script>

<style>
  
</style>
