<template>
    <tr>
        <td>  <input type="checkbox" class="form-check-input" data-toggle="modal" data-target="#exampleModal"></td>
        <td>{{ item.name }}</td>
        <td class="text-center">
        <button type="button" class="btn btn-info" @click="clickEdit(item)">
            <span class="fa fa-pencil mr-5" />Detail
        </button>
        &nbsp;
        <button type="button" class="btn btn-danger" @click="clickDelete(item)">
            <span class="fa fa-trash mr-5" />Remove
        </button>
        </td>
        <modal></modal>
    </tr>
</template>

<script>
import modal from './modal';
export default {
  name: 'task-item',
  props:{
      item: {
          type: Object,
          default: null
      }
  },
  data () {
    return {

    }
  },
  components: {
    modal
  },
  methods: {
      clickEdit (item) {
        var data = {item}
        this.$emit('listEdit', data)
        console.log(data)
      },
      clickDelete (item) {
        var data = {item}
        this.$emit('listDelete', data)
        console.log(data)
      }
  }
}
</script>

<style>
  
</style>
