<template>
  <div id="app">
     <div class="container">
        <div class="text-center">
          <h1>New Task</h1>
          <hr />
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="mt-50">
                <div class="panel panel-warning">
                  <div class="panel-heading">
                    <h3 class="panel-title mt-5">Add Task</h3>
                  </div>
                  <button @click="clickAdd()" type="button" class="btn btn-primary mt-15 mt-5 mt-10">
                  Add Task </button>
                  <div class="panel-body" v-if="isEdit" >
                    <form>
                      <div class="form-group">
                        <input type="text" class="form-control" v-model="item.name" placeholder="Add new task..." />
                      </div>
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" v-model="item.desc"></textarea>
                      </div>
                      <div class="form-group">
                        <div class="row">
                          <div class="col-md-6">
                            <label>Due Date :</label>
                            <input type="date" class="form-control" v-model="item.mydate">
                          </div>
                          <div class="col-md-6">
                            <label>Trạng Thái :</label>
                            <select class="form-control" v-model="item.status" required="required">
                            <option v-for="(item, index) in listWork" v-bind:key="index" :selected="item.status == 'normal'">{{ item.status }}
                            </option>                    
                            </select>
                          </div>
                        </div>
                      </div>
                      <br />
                      <div class="text-center">
                        <button @click.prevent="clickSave(item)" type="submit" class="btn btn-success btn-lg btn-block">Add</button>&nbsp;
                      </div>
                    </form>
                  </div>
                </div>
               </div>
             </div>
            <div class="row ">
              <div class="row mt-15">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
                  <div class="text-center">
                        <h1>To Do List</h1>
                        <hr />
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" v-model="search" placeholder="Search..." />
                  </div>  
                  <task-list 
                    v-bind:listWork="this.filteredList" 
                    v-on:handleEdit="handleEdit"
                    v-on:handleDelete="handleDelete"
                    />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TaskList from './components/TaskList';
export default {
  name: 'app',
  data () {
    return {
      listWork: [
      { id: 1, name: 'Do homework', desc: 'Lorem Ipsum',mydate:'2020-08-28', status: 'low'},
      { id: 2, name: 'Teacher',desc: 'Lorem',mydate:'2020-08-28', status: 'normal'},
      { id: 3, name: 'Teacher',desc: 'Lorem',mydate:'2020-08-28', status: 'high'}
    ],
    isEdit: false,
    item: null,
    search: '',
    list: ''
    }
  },
  components: {
    TaskList
  },
computed: {
    filteredList() {
      return this.listWork.filter(post => {
        return post.name.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  },
  methods: {
    clickAdd () {
      let item = {
        id: Math.floor(Math.random()*1000),
        name:''
      }
      this.isEdit = true
      this.item = item
    },
    clickSave (item) {
      let index = this.listWork.findIndex(i => i.id == item.id)
      if(index >= 0) {
        this.listWork.splice(index, 1, item)
      } else {
        this.listWork.push(item)
      }
      this.isEdit = false
    },
    handleEdit (data) {
      this.item = JSON.parse(JSON.stringify(data.item))
      this.isEdit = true
    },
    handleDelete (data) {
      this.item = JSON.parse(JSON.stringify(data.item))
      var indexDelete = -1
      this.listWork.forEach((u, idx) => {
        if (u.id === data.item.id) {
          indexDelete = idx
        }
      })
      if (indexDelete !== -1) {
        this.listWork.splice(indexDelete, 1)
      }
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.mt-15 {
  margin-top: 15px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-10 {
  margin-bottom: 10px;
}
.mt-5{
  text-align: center;
}

</style>
